@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {

	background-color: #00CED1;
font-family: 'Open Sans', sans-serif;
}

h1 {

	color: white;
}

p {
	color: white;
}

#slogan
{
	font-style: italic;
}

ul{
	color: white;
}

head {

font-family: 'Lato', sans-serif;

}
